/*DOCUMENTO*/
*{margin: 0px;
    padding: 0px; }
    
    {
    
    }
    
    .cabecera {width: 80%;
    min-height: 1px;
    padding: 16px 0px;
    margin: 16px auto;
    text-align: center;
    font-size: 3em;
    color: rgb(128, 37, 109);
    border: 1px solid rgb(177, 163, 163);
    border-radius: 16px;
    background-color: rgb(200, 191, 191);
    background: #632d7a;
    background: #aa34aa;
    background: linear-gradient(0deg, rgba(83, 22, 136, 0.83) 0%, rgba(69, 61, 185, 0.87) 8%, rgba(26, 54, 21, 1) 17%, rgba(10, 22, 8, 1) 26%, rgba(0, 0, 0, 1) 99%);
    
    
    }
    
    .principal { }
    
    .contenido {width: 80%;
    display: flex; 
    margin: auto;
    }
    
    .items { }
    
    .pie { }